services:
  directus:
    image: directus/directus:11.14.0
    restart: unless-stopped
    ports:
      - ${DIRECTUS_PORT}:${DIRECTUS_PORT}
    volumes:
      - directus_uploads:/directus/uploads
      - directus_extensions:/directus/extensions
    environment:
      SECRET: ${DIRECTUS_SECRET}

      DB_CLIENT: "pg"
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}
      DB_SEARCH_PATH: "content"
      DB_SCHEMA: "content"

      # How many days to retain revisions
      REVISIONS_RETENTION: 90d
      MARKETPLACE_TRUST: all

      CACHE_ENABLED: "false"
      # CACHE_AUTO_PURGE: "true"
      # CACHE_STORE: "redis"
      # REDIS: "redis://cache:6379"

      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}

      # Storage configuration (Supabase)
      STORAGE_LOCATIONS: "supabase"
      STORAGE_SUPABASE_DRIVER: "s3"
      STORAGE_SUPABASE_KEY: ${SUPABASE_S3_KEY}
      STORAGE_SUPABASE_SECRET: ${SUPABASE_S3_SECRET}
      STORAGE_SUPABASE_BUCKET: "directus"
      STORAGE_SUPABASE_REGION: "eu-west-3"
      STORAGE_SUPABASE_ENDPOINT: "https://ctelybxlufsxpzrlstlw.storage.supabase.co/storage/v1/s3"
      STORAGE_SUPABASE_FORCE_PATH_STYLE: "true"

volumes:
  directus_uploads:
  directus_extensions:
    
